/**
 * CSS Meta.
 *
 * @author      yaowu.huang@gmail.com
 * @version     1.0.0 build 2011-01-11
 */

/** 链接颜色 **/
a { color: #2e75bc; }

/** 清楚浮动 **/
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix { zoom: 1; }

/* 影藏样式 */
/* .none { display: none; } */ /* .js-hide{ display: none; } */
.hide { display: none; }

/* 公共常用color */
.pink { color: #cc1448; }

/* 浮动样式float */
.left { float: left; /* display: inline */ }
.right { float: right; /* display: inline */ }

/* 常用补丁margin */
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 10px; }

/* 常用font */
.arial { font-family: arial; }
.songti { font-family: \5b8b\4f53; }
.yahei { font-family: "Microsoft YaHei"; }
